.auth_form {
    display: inline-block;
    margin-left: 35%;
    border-radius: 10px;
    border: 2px solid;
    border-color:#014656;
    padding:10px;
    width: 30%;
    height: auto;
    font-family: 'Bree Serif', serif;
    background:#00a2ad;

}

.login_register{

    width:auto;
    margin-left: 10%;
    font-family: 'Indie Flower', cursive;
    font-size: 25pt;
}
